nav{
    background-color: bisque;
    text-align: right;
}
nav li{
    list-style-type: none;
    display: inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(0, 0, 0);
}
nav li a:hover{
    background-color: rgb(184, 184, 255);
    color: red;
    transition: background-color 2s linear, color 2s ease-in-out;
}
nav ul{
    margin: 0px;
    margin-right: 10px;
}