@charset "utf-8";

body{
    border: 70px dotted #ab51ff;
    background-color: #0f0259;
}
h1{
    margin: 50px auto;
    font-size: 300%;
    color: rgb(255, 221, 0);
    text-align: center;
}
img{
    width: 50% auto;
    margin: auto;
    border: 15px solid #ffffff;
    line-height: 150px;
    max-width: 100%;
    display: block;
}

ul,ol{
    text-align: center;
    display: inline-block;
}
#contents{
    margin: 40px;
    padding: 40px 80px;  
    font-size: 300%;
    text-align: center;
}
dt,dd,li{
    width: auto;
    margin: auto;
    padding: 10px;
    color: rgb(255, 0, 174);
    font-size: 60%;
}
h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 5px dotted #ab51ff;
    border-left: 30px solid #ab51ff;
    color: rgb(255, 221, 0);
    text-align: center;
    font-size: 100%;
}
a{
    color: rgb(0, 255, 47);
}
i{
    color: rgb(255, 0, 174);
    font-size: 65%;
}
table{
    margin-bottom: 100px;
    margin-left: auto; 
    margin-right: auto;
    color: aqua;
    border: aqua;
}